aiohttp==3.8.5
async-timeout==4.0.2
attrs==20.3.0
chardet==4.0.0
discord.py==2.1.0
idna==3.1
multidict==6.0.2
typing-extensions==3.7.4.3
yarl==1.8.1

async-lru==1.0.3
humanize==3.10.0
aiosqlite==0.17.0
pyjokes==0.6.0
